{% extends "market_base.html" %}
{% block title %}Index{% endblock %}
{% block index %}
<div id="content">
{% load static %}
    <!-- Breadcrumb Section Begin -->
        <div class="container" id="logo">
            <div class="row">
                <div class="col-lg-12 text-center" style="background-color:	#f7fddb;">
                    <img src="{% static 'shop_theme/img/banner.jpg' %}">
                </div>
            </div>
        </div>

    <!-- Breadcrumb Section End -->
<!-- Product Section Begin -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="filter__item">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="filter__found">
                                    <h6> {{ user }} consult the catalog and sell your items</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4 mt-3 text-center">
            <p>
            <input type="button" id="explore-button" class="btn btn-block" style="background-color: #c9e265; margin:1px;" value="Explore Catalog" onclick='explore_button("catalog",true,"{% url "market:catalog" %}")'></input></a>
            <input type="button" id="insert-button" class="btn btn-block" style="background-color: #c9e265; margin:1px;" value="Insert New Item" onclick='explore_button("insert",true,"{% url "market:insert" %}")'></input>
            <input type="button" id="check-button" class="btn btn-block" style="background-color: #c9e265; margin:1px;" value="Check Your Items" onclick='explore_button("user_items",true,"{% url "market:user_items" %}")'></input>
            </p>
        </div>
    </div>
</div>




<br>
</div>
{% endblock %}
{% block more_jquery %}
        var sections = document.getElementsByTagName("section");
        console.log(sections);
        for (var i = 0; i < sections.length; i++) {
            if(sections[i].id == 'index');
            else sections[i].style.display = 'none';
        }
        document.getElementById("back").style.display = 'none';
        document.getElementById("index").style.display = 'block';
{% endblock %}
